body {
  /* background-color: #001f0f !important; */
  /* background-color: red !important; */
  display: table;
  font-family: "Candara";
  align-content: center;
}



p {
  color: #fefff1;
}

#title h1 {
  font-size: 3em !important;
}

#logo {
  height: 3.5em !important;
  width: 3.5em !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0.5em 0 0.5em !important;
}

.nav-links {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 1px solid #fefff1; */
}

.nav-item a {
  /* border-right: 1px solid #fefff1; */
  /* padding: 0px 50px; */
  text-transform: uppercase;
  color: #fefff1;
  text-decoration: none;
}

#branch-border {
  background-image: url("../design/img/roots-border.svg");
}

#wrapper {
  margin: 0px 15px;
  /* border: 1px solid #fefff1; */
  border-left: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.idea {
  /* margin-top: 80px; */
  /* margin-bottom: 80px; */
  padding: 0 5em;
  /* width: 800px; */
  line-height: 2; 
}

.idea p {
  color: #dcdcdc;
}

#curly-right {
  /* border: 1px solid yellow; */
  padding: 10px;
  height: 40px;
  width: 40px;
  float: right;
  position: absolute;
  right: 10px;
  top: -5px;
  transform: scaleY(-1);
}


.think-page-section {
  padding: 3em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-copy {
  margin: 0 auto;
  border: 1px solid #fefff1;
  border-left: none;
  border-bottom: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-copy img {
  height: 400px;
  width: 400px;
  float: left;
  position: absolute;
  left: -70px;
  top: 80vh;
  opacity: 50%;
}

#blue-flower {
  background-image: url("../design/img/quadrifoil.svg");
  background-size: cover;
  height: 600px;
  width: 650px;
  top: 500px;
  left: 10px;
  float: left;
  position: absolute;
  z-index: -1;
  opacity: 30%;
}

#footer-base {
  /* margin-top: 40px; */
  background-color:#080A24;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;  
  box-shadow: inset 0px 0px 10px black;
}

#footer-inside {
  margin-right: 15px;
  border-right: 1px solid #fefff1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}



/* Think subpage */

#think-body {
  background-color: #151739;
}

#think-body p {
  font-size: var(--fs-200);
}

#think-section-title {
  margin: 2em 0 0 0;
}

#basal-block {
  background-color: #1d2042;
}

#basal-thought {
  padding-top: 0;
}

#periblem-block {
  background-color: transparent ;
}

#counterdesign-block, #copyright-block, #chandelier-block {
  background-color: #080a24;
}

#deep-counterdesign {
  padding-bottom: 0;
}

#copyright-border-box {
  background-color: #080a24;
  padding-bottom: 2em;
}

#periblem-problem-copy h4 {
  font-style: italic;
  color: #fefff1;
  font-weight: 400;
  text-align: center;
}

#connival-copy h4 {
  font-style: italic;
  color: #fefff1;
  font-weight: 400;
  /* text-align: center; */
}


#think-copyright {
  /* width: 60em; */
  font-size: var(--fs-200);
  text-align: left;
}

#chandelier-painting {
  padding-bottom: 2em;
  text-align: center;
  font-size: var(--fs-200);
}

#chandelier-painting img {
  height: 40em;
  padding: 1em 1em;
  box-shadow: inset 0px 0px 10px black;
}


/* Do subpage */

#do-body {
  background-color: #080A24;
}

.do-page-section {
  /* margin-top: 4em; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.do-page-section h3 {
}


/* Meet subpage */

#meet-body {
  background-color: #4b0082;
}

#meet-intro h3 {
  /* text-align: left; */
}

#meet-intro-boards {
  line-height: 1.5em;
}

.faculty {
  /* border: solid 1px yellow; */
  margin-bottom: 3%;
  /* margin-left: 180px; */
  min-width: 80%;
  height: 240px;
  width: 66.67%;
  clear: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.faculty-headshot {
  background-size: cover;
  background-position: center;
  height: 75%;
  width: 20%;
  margin: 10px;
  padding: 10px;
  border: 0.5px solid #fefff1;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  /* outline: 0.5px solid #fefff1; */
  /* outline-offset: 5px; */
  float: left;
  z-index: 9;
}

.faculty-bio {
  /* margin-top: 5%; */
  float: right;
  height: 100%;
  width: 80%;
  text-align: left;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.faculty-bio h3 {
  margin-top: -10px;
  margin-left: 60px;
  font-size: 45px;
}

.faculty-bio p {
  margin-left: 5%;
}

#directors-border-box {
  background-color: #390061;
}

#advisory-border-box {
  background-color: #450474;
}

#personnel-border-box {
  background-color: #4b0082;
}

#more-to-come-border-box {
  background-color: #390061;
}

.board {
  margin-top: 0px;
}

#more-to-come-copy {
  margin: 1em 0;
}

#more-to-come p {
  color: #5a86ff
}

#logo-meet {
  margin-bottom: 2em;
  width: 150px;
  height: 150px;
  /* border: 1px solid red; */
}

#logo-meet img {
  max-width: 100%;
  height: auto;
}




/* Give subpage*/


#give-body {
  background-color: #a88df7;
  /* color: #d1abff; */
}

#give-border-box {
  /* border: 1px solid #080A24; */
  color: #080A24;
}


#give-border-box h3, #give-body p {
  color: #080A24;
}

#give-title h1 {
  color: #080A24 !important;
  font-size: 3em !important;
}

#give-main-section {
  margin: 30px 0px;
}

#give-main-section a {
  color: #3465eb;
}



/* Reach subpage */

#reach-body {
  /* background-color: #4b0082; */
}

#reach-border-box h3, a {
  color: #5a86ff;
  text-decoration: none;
}

#reach-page-main {
  padding: 2em 0;
}

.reach-item {
  /* margin: 3em 0; */
}

.reach-title {
  width: 100%;
  justify-content: left;
}

.reach-title h3 {
font-size: var(--fs-400);
line-height: 0.15em;
font-style: italic;
margin: 0.75em 0;
}

.initiative {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  padding: 0;
  margin: 1em 0;
}

.initiative-logo {
  float: left;
  padding: 1em;
  /* border: 1px solid red; */
}

.initiative-logo img {
  height: 3em;
}



/* Pilot Fellowship Subpage*/

#fellows-body {
  background-color: #93dd87e0;
}

#fellows-body h3, #fellows-body p {
  color: #080a24;
}

#fellows-border-box {
  padding-top: 0;
  background-color: #080a24 ;
}

#fellows-setup {
  /* background-color: transparent; */
  /* background-color: #080A24; */
  padding: 0;
}

#fellows-setup h3, #fellows-setup p {
  color: #fefff1;
}

#fellows-setup h3 {
  font-size: var(--fs-400);
}

#fellows-backdrop {
  /* background-color: #a1dd87e0; */
  width: 60em;
  opacity: 80%;
  box-shadow: inset 0px 0px 15px #1c551c;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fellows {
  /* border: 1px solid yellow; */
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#fellows-title {
  margin: 15px 15px 0px 15px;
  padding: 10px;
  min-width: 800px;
  border: 1px solid #fefff1;
  border-left: none;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
}

#fellows-title h1 {
  font-size: 40px;
  /* border: 1px solid yellow; */
}

#fellows-title h3 {
  font-size: 25px;
  margin-top: -25px;
  /* border: 1px solid yellow; */
}

#fellows-title h1,
h3 {
  font-weight: 500;
}

.fellow {
  /* border: solid 1px yellow; */
  margin-top: 120px;
  /* margin-left: 180px; */
  min-width: 800px;
  height: 240px;
  width: 66.67%;
  clear: left;
  display: flex;
  position: relative;
}

.fellow-headshot {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 151px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #080A24;;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  outline: 1px solid #080A24;;
  outline-offset: 5px;
  float: left;
  z-index: 9;
}

.fellow-bio {
  /* margin-top: 30px; */
  float: right;
  width: 80%;
  text-align: left;
  /* border: 1px solid red; */
}

.fellow-bio h3 {
  margin-top: -10px;
  margin-left: 60px;
  padding: 0.5em 0;
  font-size: var(--fs-400);
  color: #080A24;;
}

.fellow-bio p {
  margin: -30px 0px 0px 60px;
  color: #080A24;
}

#ameen-ahmed {
  background-image: url("../design/img/bio-headshots/ameen-ahmed.jpg");
  background-size: cover;
  float: left;
  clear: left;
}

#flower-box {
  width: 1400px;
  margin-top: 200px;
  position: absolute;
  /* overflow: hidden; */
  /* z-index: 0; */
}

.blue-flower {
  /* border: 1px solid red; */
  background-image: url("../design/img/quadrifoil.svg");
  background-repeat: no-repeat;
  margin-top: 200px;
  height: 660px;
  width: 660px;
  float: left;
  position: relative;
  z-index: -1;
  opacity: 30%;
  float: left;
}

#flower-1 {
  rotate: 30deg;
  top: 100px;
}

#flower-2 {
  rotate: -5deg;
  top: 300px;
}

#flower-3 {
  rotate: 20deg;
  top: -50px;
  left: 150px;
}

#flower-4 {
  rotate: 49deg;
  top: 50px;
  display: none;
}

#flower-5 {
  rotate: 24deg;
  top: 550px;
  display: none;
}

#flower-6 {
  rotate: 16deg;
  top: 120px;
  left: -80px;
}

#flower-7 {
  rotate: 94deg;
  top: 10px;
  left: 600px;
}

#flower-8 {
  rotate: 21deg;
  top: 400px;
  left: -650px;
}

#flower-9 {
  rotate: 11deg;
  top: -10px;
  left: 700px;
}


/* Connival subapge */

#connival-body {
  background-color: #8000ff83;
}

#connival-body h4, #connival-body p {
  color: #080A24;
}

#connival-body h4 {
  font-size: var(--fs-400);
  font-style: italic;
  font-weight: 400;
}

#connival-main-info {
  background-image: url(/design/img/rome-houses.jpg);
  background-size: cover;
  opacity: 40%;
}

#connival-main {
  max-width: 70em;
  line-height: 1.5em;
}


#connival-copy p {
  padding: 0;
}

#connival-proceedings {
  width: 100%;
}

#connival-main img, #connival-proceedings img {
padding: 0.33em;
border: 1px solid #080A24;;
background-clip: content-box; /* support: IE9+ */
outline: 1px solid #080A24;;
outline-offset: 5px;
width: 80%;
float: right;
}

#connival-main-img-container {
  padding-top: 3em;
}

#draft-proc-img-container {
  /* border: 1px solid red; */
  padding: 3em;
}



/* Carless Rome subpage */
#carless-intro h1 {
  color: #fefff1;
  text-transform: uppercase;
}

#carless-intro h4 {
  color: #fefff1;
  text-transform: uppercase;
  margin-top: 0;
}

#carless-intro {
  border-top: 1px solid #5a86ff;
  border-bottom: 1px solid #5a86ff;
}

#carless-intro span {
  font-size: 0.75em;
}

/* * {
  box-sizing: border-box;
} */

#rome-border-box-1 {
  padding: 0 4rem;
}

#rome-border-box-2 {
  padding: 0 4rem;
}

#rome-border-box-3 h3 {
  font-size: var(--fs-400);
  text-align: center;
  text-transform: uppercase;
  color: #5a86ff;
}

#rome-main-copy-1 {
  background-color: #151739;
}

#rome-main-copy-2 {
  background-color: #080A24
}

#rome-main-copy-3 {
  background-color: #151739;
}

#rome-main-copy-3 p {
  margin-bottom: 0;
}

#rome-column-2-1 {
  width: 66%;
  /* border: 1px solid red; */
  display: block;
}

#rome-column-2-1-1 {
  padding-top: 10px;
}

#rome-column-2-1-1 p, #rome-column-2-1-2 p {
  font-size: var(--fs-300);
}

#rome-column-2-1-2 {
  padding-top: 10px;
}

#rome-column-2-2 h2 {
  padding-top: 20px;
}

#rome-pedestrian-map img {
  width: 100%;
}

#pedestrian-map-image p {
  font-style: italic;
  font-size: 0.75em;
  text-align: center;
}

#rome-column-2-2 {
  width: 33%;
}

#rome-questions {
  background-color: #080A24;
}

#rome-questions p {
  margin-top: 0;
}

#rome-questions-copy {
  max-width: 90%;
}

#rome-questions-copy span {
  color: #5a86ff;
  font-size: var(--fs-400);
}