body {
  /* background-color: #001f0f !important; */
  /* background-color: red !important; */
  display: table;
  font-family: "Candara";
  align-content: center;
}



p {
  color: #f8f8f8;
}

#title h1 {
  font-size: 3em !important;
}

.nav-links {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-right: 1px solid #f8f8f8; */
}

.nav-item a {
  /* border-right: 1px solid #f8f8f8; */
  padding: 0px 50px;
  text-transform: uppercase;
  color: #f8f8f8;
  text-decoration: none;
}

#branch-border {
  background-image: url("../design/img/roots-border.svg");
}

#wrapper {
  margin: 0px 15px;
  /* border: 1px solid #f8f8f8; */
  border-left: none;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.idea {
  /* margin-top: 80px; */
  /* margin-bottom: 80px; */
  padding: 0 5em;
  /* width: 800px; */
  line-height: 2; 
}

.idea p {
  color: #dcdcdc;
}

#curly-right {
  /* border: 1px solid yellow; */
  padding: 10px;
  height: 40px;
  width: 40px;
  float: right;
  position: absolute;
  right: 10px;
  top: -5px;
  transform: scaleY(-1);
}


.think-page-section {
  margin-top: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-copy {
  margin: 0 auto;
  border: 1px solid #f8f8f8;
  border-left: none;
  border-bottom: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-copy img {
  height: 400px;
  width: 400px;
  float: left;
  position: absolute;
  left: -70px;
  top: 80vh;
  opacity: 50%;
}

#blue-flower {
  background-image: url("../design/img/quadrifoil.svg");
  background-size: cover;
  height: 600px;
  width: 650px;
  top: 500px;
  left: 10px;
  float: left;
  position: absolute;
  z-index: -1;
  opacity: 30%;
}

#footer-base {
  /* margin-top: 40px; */
  background-color:#080A24;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;  
  box-shadow: inset 0px 0px 10px black;
}

#footer-inside {
  margin-right: 15px;
  border-right: 1px solid #f8f8f8;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}



/* Think subpage */

#think-body {
  background-color: #151739;
}

#periblem-problem-copy h4 {
  font-style: italic;
  color: #f8f8f8;
  font-weight: 400;
  text-align: center;
}



#connival-copy h4 {
  font-style: italic;
  color: #f8f8f8;
  font-weight: 400;
  /* text-align: center; */
}


/* Do subpage */

#do-body {
  background-color: #080A24;
}

.do-page-section {
  margin-top: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.do-page-section h3 {
}


/* Meet subpage */

#meet-body {
  background-color: #4b0082;
}

#meet-intro h3 {
  /* text-align: left; */
}

#meet-intro-boards {
  line-height: 1.5em;
}

.faculty {
  /* border: solid 1px yellow; */
  margin-bottom: 3%;
  /* margin-left: 180px; */
  min-width: 80%;
  height: 240px;
  width: 66.67%;
  clear: left;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.faculty-headshot {
  background-size: cover;
  background-position: center;
  height: 75%;
  width: 20%;
  margin: 10px;
  padding: 10px;
  border: 0.5px solid #f8f8f8;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  /* outline: 0.5px solid #f8f8f8; */
  /* outline-offset: 5px; */
  float: left;
  z-index: 9;
}

.faculty-bio {
  /* margin-top: 5%; */
  float: right;
  height: 100%;
  width: 80%;
  text-align: left;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.faculty-bio h3 {
  margin-top: -10px;
  margin-left: 60px;
  font-size: 45px;
}

.faculty-bio p {
  margin-left: 5%;
}

#directors-border-box {
  background-color: #390061;
}

#advisory-border-box {
  background-color: #450474;
}

#personnel-border-box {
  background-color: #4b0082;
}

#more-to-come-border-box {
  background-color: #390061;
}

.board {
  margin-top: 0px;
}

#more-to-come-copy {
  margin: 1em 0;
}

#more-to-come p {
  color: #5a86ff
}

#logo-meet {
  margin-bottom: 2em;
  width: 150px;
  height: 150px;
  /* border: 1px solid red; */
}

#logo-meet img {
  max-width: 100%;
  height: auto;
}




/* Give subpage*/


#give-body {
  background-color: #d1abff;
  /* color: black; */
}

#give-border-box {
  /* border: 1px solid #080A24; */
  color: #080A24;
}


#give-border-box h3, #give-body p {
  color: #080A24;
}

#give-title h1 {
  color: #080A24 !important;
  font-size: 3em !important;
}

#give-main-section {
  margin: 30px 0px;
}

#give-main-section a {
  color: #3465eb;
}



/* Reach subpage */

#reach-body {
  /* background-color: #4b0082; */
}

#reach-border-box h3, a {
  color: #5a86ff;
  text-decoration: none;
}

#reach-intro {
  margin-top: 3em;
}

.reach-item {
  margin: 30px 0px;
}




/* Pilot Fellowship Subpage*/

#fellows-body {
  background-color: #57af55;
}

#fellows-backdrop {
  background-color: #a1dd87;
  width: 1000px;
  opacity: 80%;
  box-shadow: inset 0px 0px 15px #1c551c;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fellows {
  /* border: 1px solid yellow; */
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

#fellows-title {
  margin: 15px 15px 0px 15px;
  padding: 10px;
  min-width: 800px;
  border: 1px solid #f8f8f8;
  border-left: none;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
}

#fellows-title h1 {
  font-size: 40px;
  /* border: 1px solid yellow; */
}

#fellows-title h3 {
  font-size: 25px;
  margin-top: -25px;
  /* border: 1px solid yellow; */
}

#fellows-title h1,
h3 {
  font-weight: 500;
}

.fellow {
  /* border: solid 1px yellow; */
  margin-top: 120px;
  /* margin-left: 180px; */
  min-width: 800px;
  height: 240px;
  width: 66.67%;
  clear: left;
  display: flex;
  position: relative;
}

.fellow-headshot {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 151px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #080A24;;
  padding: 5px;
  background-clip: content-box; /* support: IE9+ */
  outline: 1px solid #080A24;;
  outline-offset: 5px;
  float: left;
  z-index: 9;
}

.fellow-bio {
  /* margin-top: 30px; */
  float: right;
  width: 80%;
  text-align: left;
  /* border: 1px solid red; */
}

.fellow-bio h3 {
  margin-top: -10px;
  margin-left: 60px;
  font-size: 45px;
  color: #080A24;;
}

.fellow-bio p {
  margin: -30px 0px 0px 60px;
  color: #080A24;
}

#ameen-ahmed {
  background-image: url("../design/img/bio-headshots/ameen-ahmed.jpg");
  background-size: cover;
  float: left;
  clear: left;
}

#flower-box {
  width: 1400px;
  margin-top: 200px;
  position: absolute;
  /* overflow: hidden; */
  /* z-index: 0; */
}

.blue-flower {
  /* border: 1px solid red; */
  background-image: url("../design/img/quadrifoil.svg");
  background-repeat: no-repeat;
  margin-top: 200px;
  height: 660px;
  width: 660px;
  float: left;
  position: relative;
  z-index: -1;
  opacity: 30%;
  float: left;
}

#flower-1 {
  rotate: 30deg;
  top: 100px;
}

#flower-2 {
  rotate: -5deg;
  top: 300px;
}

#flower-3 {
  rotate: 20deg;
  top: -50px;
  left: 150px;
}

#flower-4 {
  rotate: 49deg;
  top: 50px;
  display: none;
}

#flower-5 {
  rotate: 24deg;
  top: 550px;
  display: none;
}

#flower-6 {
  rotate: 16deg;
  top: 120px;
  left: -80px;
}

#flower-7 {
  rotate: 94deg;
  top: 10px;
  left: 600px;
}

#flower-8 {
  rotate: 21deg;
  top: 400px;
  left: -650px;
}

#flower-9 {
  rotate: 11deg;
  top: -10px;
  left: 700px;
}


/* Connival subapge */

#connival-body {
  background-color: #8000ffaf;
}

#connival-body h4, #connival-body p {
  color: #080A24;
}