<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  </head>


<div class="home-title" id="dark-title">
  <div id="home-title-wrapper">

    <div id="title-wrapper">
      <div id="logo-with-title">
        <div id="logo-round">
          <a href="../home/index.html"></a><img src="../design/img/logo-draft.png " alt="curlicue-left">
        </div>
  
        <div id="title">
          <h1>Mangrovessssssssssssss Preciousssssssss</h1>
        </div>
      </div>
      
      <div id="home-subtitle">
        <span> &nbsp; <i>~ a collaboratory for surging life ~</i></span>
      </div>
  </div>
    
  </div>
</div>
