<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>{{ page.title }}</title>
    {% include fellows-head.html %}
  </head>
  <body>
    {{ content }}



  <div id="wrapper">
    <div id="fellows-title">
        <div id="title">
        <h1>{{ page.title }}</h1>
        </div>
        <div id="year">
        <h3>{{ page.year }}</h3>
        </div>
        <div id="curly-left">
        <img src="../design/img/dec-border.svg" alt="curlicue-right">
        </div>
        <div id="curly-right">
        <img src="../design/img/dec-border.svg" alt="curlicue-top-right">
        </div>
    </div>
    <div id="main-copy">
      <div class="fellow">
        <div class="fellow-headshot" id="ameen-ahmed">
        </div>
        <div class="fellow-bio">
          <h3>Ameen Ahmed</h3>
          <p>Ameen Ahmed is a curator, artist, writer, and researcher from Bangalore, India, and
            Toronto, Canada. His current research interests revolve around “magic”, which he
            describes as the use of the rhetoric and methods of religion and myth by political and
            corporate agents of “progress” and “development”. This is part of a larger interest in
            stories and storytelling, whether those stories are disseminated through media, or
            through visual, political, or architectural means.</p>
        </div>
      </div>

    <div id="blue-flower">
    <img src="../design/img/leaf-corner.svg" alt="curlicue-top-right">
    </div>

    </div>
    </div>
  </body>
  
</html>