<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../css/readmore-styles.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>{{ page.title }}</title>
    <script defer data-domain="mangroves.life" src="https://plausible.io/js/script.js"></script>
    {% include home-head.html %}
  </head>
  <body>
    <nav class="nav">
      <div class="nav-border-box">
        <div class="nav-links">
          <!-- <div id="hamburger-div"> -->
            <label for="hamburger"><img src="../design/img/hamburger-nav.png"></label>
            <input type="checkbox" id="hamburger"/>
            {% for item in site.data.navigation %}
            <div class="nav-item" id="{{ item.id }}">
              <a href="..{{ item.link }}" {% if page.url == item.link %}style="color: none;"{% endif %}>
              {{ item.name}}
              </a>
              <div class="dropdown">
                <div class="dropdown-item" id="fellows-dropdown-item">
                    <a href="fellows/index.html"><p>Pilot Fellowship</p></a>
                </div>
                <div class="dropdown-item" "carless-dropdown-item">
                  <a href="carless-rome/index.html"><p>Carless Rome</p></a>
                </div>
                <div class="dropdown-item" id="connival-dropdown-item">
                   <a href="connival/index.html"><p>Connival On Growth</p></a>
                </div>
              </div>
            </div>
            {% endfor %}
            <!-- {% for item in site.data.navigation.do %}
            <div class="baldiez">
              <p>CRAWLDIEZ</p>
            </div>
            {% endfor %} -->
          <!-- </div> -->
        </div>
      </div>
    </nav>

    <!-- <nav class="ham-nav">
      <div class="nav-border-box" id="ham-nav-box">
        <div class="ham-items">
          <label for="hamburger">&#9776;</label>
          <label for="hamburger"><img src="../design/img/carless-rome.jpg"></label>
          <input type="checkbox" id="hamburger"/>
          {% for item in site.data.navigation %}
          <div class="ham-item">
            <a href="{{ item.link }}" {% if page.url == item.link %}style="color: none;"{% endif %}>
            {{ item.name }}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </nav> -->

    {{ content }}

    <footer>
      {% include footer.html %}
    </footer>

    
      </div>
    </div>
  </body>
</html>
